@import './reset.min.css';

@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 300;
	src: url("../assets/fonts/Lato-Light.ttf") format("truetype");
}

@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	src: url("../assets/fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 700;
	src: url("../assets/fonts/Lato-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 900;
	src: url("../assets/fonts/Lato-Black.ttf") format("truetype");
}

body {
	font-weight: 300;
	font-family: "Lato";
}

.wrapper {
	max-width: 1020px;
	margin: 0 auto;
}

header {
	height: 89px;
	width: 100%;
}

header #burger {
	display: none;
}

header #background {
	display: none;
}

.header {
	width: 1020px;
	height: inherit;
	background-color: #2d303a;
	border-bottom: #323746 6px solid;
	display: flex;
	justify-content: space-between;
	position: fixed;
	z-index: 2000;
}

.header>.logo {
	font-size: 24px;
	color: #ffffff;
	font-weight: 700;
	margin: 32px 0 0 40px;
	font-family: "Lato";
	z-index: 70;
}

.navbar .logo {
	display: none;
}

.logo h1 {
	display: inline;
}
.logo span {
	color: #f06c64;
}

.header .navbar {
	margin: 40px 39px 0 0;
	width: 376px;
}

.header .navbar ul {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.header .navbar ul>li>a{
	text-decoration: none;
	color: #ffffff;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	transition: color 0.3s;
}

.header .navbar ul>li>a:hover{
	color: #f06c64;
}

.header .navbar ul>li>a.active {
	color: #f06c64;
}

.slider {
	background-color: #f06c64;
	border-bottom: #ea676b 6px solid;
	height: 600px;
	width: 100%;
	display: block;
	position: relative;
}

.slider>.slides {
	display: flex;
	height: inherit;
	justify-content: space-between;
	overflow-x: hidden;
	width: inherit;
}

.slider>.slides>.slide {
	height: inherit;
	display: flex;
	width: inherit;
	flex-shrink: 0;
	position: relative;
	transition: left 1s ease-in-out;
}

.slide>.phones {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

#phone1 {
	display: flex;
	width: 240px;
	height: 483px;
	margin: 2px 0 0 112px;
	background-image: url("../assets/img/phone_1.png");
	background-size: cover;
}


#phone2 {
	display: flex;
	width: 484px;
	height: 240px;
	margin: 6px 111px 0 0;
	background-image: url("../assets/img/phone_2.png");
	background-size: cover;
}

.slide>.phones_2 {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	width: 100%;
}

#phone3 {
	display: flex;
	background-image: url("../assets/img/phone_3.png");
	background-size: cover;
	width: 516.18px;
	height: 513px;
}

.screen {
	background-color: black;
	opacity: 0;
	transition: opacity 1s linear;
	cursor: pointer;
	z-index: 1000;
}

#phone1 .screen {
	width: 188px;
	height: 333px;
	margin: 65px 0 0 14px;
}

#phone2 .screen {
	width: 333px;
	height: 188px;
	margin: 14px 0 0 60px;
}

#phone3 .screen {
	width: 200px;
	height: 354px;
	margin: 69px 0 0 146px;
}

.slider>.nav {
	position: absolute;
	height: inherit;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;
}

.slider>.nav .nav_left {
	display: flex;
	width: 20px;
	margin: -6px 0px 0px 42px;
	cursor: pointer;
}

.slider>.nav .nav_right {
	display: flex;
	width: 20px;
	margin: -6px 40px 0px 0px;
	cursor: pointer;
	transform: rotate(180deg);
}

.services {
	height: 432px;
	background-color: #f2f2f2;
	border-bottom: #fff 6px solid;
	display: flex;
	flex-flow: column nowrap;
	color: #666d89;
	font-family: "Lato";
	padding: 62px 40px 0 40px;
}

.services>.title {
	font-size: 30px;
	font-weight: 900;
}

.services>.text {
	width: 940px;
	font-size: 18px;
	line-height: 30px;
	color: #767e9e;
	font-weight: 300;
	margin-top: 21px;
}

.services>.pane {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-top: 44px;
}

.services .item {
	width: 300px;
	height: 124px;
}

.services .item>.wrap {
	font-size: 18px;
	font-weight: 900;
	position: relative;
	margin-bottom: 30px;
	padding-left: 80px;
}

.services .item .title{
	font-size: 18px;
	font-weight: 900;
	line-height: 24px;
}

.services .item .description{
	font-size: 12px;
	line-height: 22px;
	color: #767e9e;
	font-weight: 400;
	text-align: justify;
	margin-top: 8px;
	/* letter-spacing: -0.1px; */
}

.services .icon {
	width: 60px;
	height: 60px;
	background-size: cover;
	position: absolute;
	margin-top: 3px;
}

.icon.icon_pen {
	background-image: url("../assets/img/icons/icon_pen.png");
}
.icon.icon_bubble {
	background-image: url("../assets/img/icons/icon_bubble.png");
}
.icon.icon_bulb {
	background-image: url("../assets/img/icons/icon_bulb.png");
}
.icon.icon_heart {
	background-image: url("../assets/img/icons/icon_heart.png");
}
.icon.icon_phone {
	background-image: url("../assets/img/icons/icon_phone.png");
}
.icon.icon_star {
	background-image: url("../assets/img/icons/icon_star.png");
}

.portfolio {
	background-color: #2d303a;
	height: 800px;
	border-bottom: #323746 6px solid;
	color: #666d89;
	padding: 63px 40px 1px 40px;
}

.portfolio .title {
	font-size: 30px;
	font-weight: 900;
}

.portfolio .description {
	font-size: 18px;
	font-weight: 300;
	margin-top: 27px;
}

.portfolio .gallery .nav {
	width: 287px;
	height: 22px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin-top: 18px;
	margin-left: 1px;
}

.portfolio .gallery .nav a {
	border-radius: 4px;
	border: 1px solid #666d89;
	color: #666d89;
	text-decoration: none;
	font-size: 12px;
	font-weight: 400;
	padding: 2px 6px;
	cursor: pointer;
}

.portfolio .gallery .nav a:hover {
	border: 1px solid #dedede;
	color: #dedede;
}

.portfolio .gallery .nav a.active {
	border: 1px solid #dedede;
	color: #dedede;
	cursor: default;
}

.portfolio .gallery .pictures{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	margin-top: 17px;
}

.portfolio .gallery .pictures>.pic{
	display: flex;
	width: 220px;
	height: 187px;
	overflow: hidden;
	justify-content: center;
	margin-bottom: 20px;
	margin-left:10px;
	margin-right:10px;
	cursor: pointer;
	z-index: 100;
}

.portfolio .gallery .pictures>.pic.active{
	border: #F06C64 5px inset;
	width: 210px;
	height: 177px;
	cursor: default;
}

.portfolio .gallery .pictures>.pic img {
    width: inherit;
    z-index: 10;
}

.portfolio .gallery .pictures>.pic:nth-child(4n+1){
	margin-left:0px;
}

.portfolio .gallery .pictures>.pic:nth-child(4n+4){
	margin-right:0px;
}

.portfolio .gallery .pictures>.pic:nth-child(n+13){
	display:none;
}

.aboutus {
	color: #767e9e;
	background-color: #f2f2f2;
	height: 603px;
	border-bottom: #ffffff 6px solid;
	padding: 62px 40px;
}

.aboutus .title {
	font-size: 30px;
	color: #666d89;
	font-weight: 900;
}

.aboutus .description {
	font-size: 18px;
	font-weight: 300;
	margin-top: 21px;
	line-height: 30px;
}

.aboutus .people {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-top: 44px;
}

.aboutus .people .card {
	display: flex;
	width: 300px;
	flex-flow: column nowrap;
	height: 444px;
}

.aboutus .people .card>img {
	width: 300px;
	height: 300px;
}

.aboutus .people .card>span {
	font-size: 18px;
	color: #666d89;
	font-weight: 900;
	margin-top: 17px;
}

.aboutus .people .card>p {
	font-size: 12px;
	font-weight: 400;
	margin-top: 10px;
	line-height: 22px;
	text-align: justify;
	text-overflow: clip;
	height: 40px;
}

.social {
	width: 152px;
	height: 32px;
	margin-top: 25px;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

.social>.icon {
	width: 30px;
	height: 30px;
	display: flex;
	border-radius: 16px;
	border: 1px solid #666d89;
	background-repeat: no-repeat;
}

.social>.icon.icon_facebook {
	background-image: url("../assets/img/social/facebook.png");
	background-position-x: 50%;
	background-position-y: 49%;
	background-size: 8px;
}

.social>.icon.icon_google {
	background-image: url("../assets/img/social/google.png");
	background-position-x: 50%;
	background-position-y: 49%;
	background-size: 14px;
}

.social>.icon.icon_twitter {
	background-image: url("../assets/img/social/twitter.png");
	background-position-x: 50%;
	background-position-y: 49%;
	background-size: 14px;
}

.social>.icon.icon_linkedin {
	background-image: url("../assets/img/social/linkedin.png");
	background-position-x: 50%;
	background-position-y: 49%;
	background-size: 14px;
}


.feedback {
	height: 524px;
	color: #f0d8d9;
	background-color: #f06c64;
	border-bottom: 6px solid #ea676b;
	padding: 62px 40px;
}

.feedback>h3 {
	font-size: 30px;
	font-weight: 900;
}

.feedback>p {
	font-weight: 300;
	line-height: 30px;
	font-size: 18px;
	margin-top: 20px;
}

.feedback>.contacts {
	display: flex;
	margin-top: 45px;
	flex-flow: row;
	height: 432px;
}

.feedback>.contacts>form {
	display: flex;
	flex-flow: column nowrap;
	height: 373px;
	width: 620px;
	justify-content: space-between;
	align-items: stretch;
}

.feedback>.contacts>form input {
	display: flex;
	height: 38px;
	background-color: #d6564f;
	border: 0px;
	border-radius: 5px;
	font-size: 12px;
	color: #f48c8f;
	font-weight: 400;
	font-family: "Lato";
	padding: 0 0 0 14px;
}

.feedback>.contacts>form input::placeholder,
.feedback>.contacts>form input::-webkit-input-placeholder { /* Edge */
	color: #f48c8f;
}

.feedback>.contacts>form textarea::placeholder,
.feedback>.contacts>form textarea::-webkit-input-placeholder { /* Edge */
	color: #f48c8f;
}
  
.feedback>.contacts>form textarea {
	display: flex;
	background-color: #d6564f;
	border: 0px;
	border-radius: 5px;
	font-size: 12px;
	color: #f48c8f;
	font-weight: 400;
	font-family: "Lato";
	padding: 10px 0 0 14px;
	height: 149px;
	resize: none;
}

.feedback>.contacts>form button {
	align-self: flex-start;
	border: unset;
	font-size: 14px;
	color: #886A30;
	font-weight: 400;
	font-family: "Lato";
	cursor: pointer;
	width: 136px;
	height: 38px;
	background: #FBC65F;
	border-radius: 5px;
}

.feedback>.contacts>.info {
	display: block;
	width: 300px;
	padding-left: 20px;
}

.feedback>.contacts>.info>span {
	font-size: 18px;
	font-weight: 900;
}

.feedback>.contacts>.info>p {
	font-size: 12px;
	font-weight: 400;
	text-align: justify;
	line-height: 22px;
	margin-top: 9px;
	margin-bottom: 22px;
}

.feedback>.contacts>.info li {
	margin-bottom: 4px;
}

.feedback>.contacts>.info li>a {
	text-decoration: none;
	font-size: 12px;
	color: #f0d8d9;
	font-weight: 400;
	margin-left: 4px;
}

.feedback>.contacts>.info li>.icon {
	display: inline-block;
	height: 15px;
	width: 13px;
	background-repeat: no-repeat;
	filter: invert(82%) sepia(5%) saturate(724%) hue-rotate(308deg) brightness(111%) contrast(88%);
}

.feedback>.contacts>.info li>.icon_loc {
	background-image: url("../assets/img/icons/location.svg");
	background-size: 7px;
	background-position: 50% 100%;
}

.feedback>.contacts>.info li>.icon_tel {
	background-image: url("../assets/img/icons/phone.svg");
	background-size: 12px;
	background-position: 35% 100%;
}

.feedback>.contacts>.info li>.icon_mail {
	background-image: url("../assets/img/icons/mail.svg");
	background-size: 14px;
	background-position: 50% 150%;
}

footer {
	height: 76px;
	background-color: #2d303a;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 40px;
}

footer span{
	display: flex;
	font-size: 13px;
	margin-top: 2px;
	color:#666d89;
}

footer .social{
    margin-top: 0px;
}

#submitModal{
	position: fixed;
	top: calc(50% - 132px);
	left: calc(50% - 301px);
	width: 540px;
	z-index: 9999;
	background-color: #f06c64;
	display: none;
	padding: 26px;
	border-radius: 10px;
	border: white 5px solid;
	margin-top: -10vh;
	opacity: 0;
	transition: margin 0.3s, opacity 0.3s;
	flex-flow: column;
}

#submitModal.active {
	margin-top: 0;
	opacity: 1;
}

#submitModal p {
	display: flex;
	height: 55px;
	overflow-y: hidden;
	margin-bottom: 8px;
}

#submitModal>#message {
	font-size: 20px;
	font-weight: 900;
}

#submitModal>.close {
	align-self: flex-end;
	border: unset;
	font-size: 14px;
	color: #886A30;
	font-weight: 400;
	font-family: "Lato";
	cursor: pointer;
	width: 136px;
	height: 38px;
	background: #FBC65F;
	border-radius: 5px;
	margin-top: 17px;
}

#backdrop {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #2d303a;
	z-index: 3000;
	transition: opacity 0.3s;
}

@media screen and (max-width: 1019px) {
	.wrapper {
		width: 768px;
	}

	.header {
		width: 768px;
	}

	.header .navbar {
		margin: 38px 39px 0 0;
	}
		
	.slider {
		height: 451px;
	}
	
	#phone1 {
		width: 180px;
		height: 364px;
		margin: 4px 0 0 84px;
	}
	
	
	#phone2 {
		width: 364px;
		height: 180px;
		margin: 6px 85px 0 0;
	}
	
	#phone3 {
		width: 355px;
		height: 350px;
	}
		
	#phone1 .screen {
		width: 143px;
		height: 251px;
		margin: 49px 0 0 10px;
	}
	
	#phone2 .screen {
		width: 251px;
		height: 143px;
		margin: 10px 0 0 45px;
	}
	
	#phone3 .screen {
		width: 138px;
		height: 244px;
		margin: 47px 0 0 100px;
	}
	
	.slider>.nav .nav_left {
		width: 20px;
		margin: 12px 0px 0px 30px;
	}
	
	.slider>.nav .nav_right {

		width: 20px;
		margin: 12px 27px 0px 0px;
	}
	
	.services {
		height: 631px;
		border-bottom: unset;
		padding: 44px 40px 0 40px;
	}
		
	.services>.text {
		width: 674px;
		font-size: 18px;
		line-height: 30px;
		color: #767e9e;
		font-weight: 300;
		margin-top: 21px;
	}
	
	.services>.pane {
		margin-top: 33px;
		width: 654px;
	}
	
	.services .item {
		height: 144px;
	}
	
	
	.portfolio {
		height: 1030px;
		border-bottom: #323746 8px solid;
	}
		
	.portfolio .description {
		line-height: 30px;
		margin-top: 19px;
		width: 654px;
	}
	
	.portfolio .gallery .nav {
	margin-top: 14px;
	}
	
	.portfolio .gallery .nav a:hover {
		border: 1px solid #dedede;
		color: #dedede;
	}
		
	.portfolio .gallery .pictures{
		margin-top: 27px;
	}
	
	.portfolio .gallery .pictures>.pic{
		width: 216px;
		height: 184px;
		margin-bottom: 19px;
	}
	
	.portfolio .gallery .pictures>.pic.active{
		width: 206px;
		height: 174px;
	}
		
	.portfolio .gallery .pictures>.pic:nth-child(4n+1){
		margin-left: 10px;
	}

	.portfolio .gallery .pictures>.pic:nth-child(3n+1){
		margin-left: 0px;
	}
	
	.portfolio .gallery .pictures>.pic:nth-child(4n+4){
		margin-right: 10px;
	}

	.portfolio .gallery .pictures>.pic:nth-child(3n+3){
		margin-right: 0px;
	}
		
	.aboutus {
		padding: 55px 40px 0 42px;
		height: 614px;
		border-bottom: unset;
	}

	.aboutus .title {
		margin-left: -2px;
	}
	
	.aboutus .people {
		margin-top: 38px;
	}
	
	.aboutus .people .card {
		width: 219px;
		height: 360px;
	}
	
	.aboutus .people .card>img {
		width: 219px;
		height: 219px;
	}
	
	.aboutus .people .card>span {
		margin-top: 13px;
	}
	
	.aboutus .people .card>p {
		margin-top: 3px;
	}
	
	.social {
		margin-top: 35px;
	}

	
	.feedback {
		padding: 56px 37px 45px 39px;

	}
	
	.feedback>h3 {
		margin-left: 3px;
	}
	
	.feedback>p {
		margin-left: 3px;
	}
	
	.feedback>.contacts {
		margin-top: 26px;
		height: 394px;
	}
	
	.feedback>.contacts>form {
		width: 578px;
		height: 364px;
	}

	.feedback>.contacts>form input {
		padding: 0 0 0 10px;
	}

	.feedback>.contacts>form textarea {
		padding: 8px 0 0 10px;
		height: 151px;
	}	
		
	.feedback>.contacts>form button {
		margin-top: 5px;
	}
	
	.feedback>.contacts>.info {
		width: 288px;
		padding-left: 30px;
	}
		
	.feedback>.contacts>.info>p {
		margin-top: 3px;
		margin-bottom: 11px;
	}
	
	.feedback>.contacts>.info li {
		margin-bottom: 4px;
	}
		
	#submitModal{
		width: 500px;
		left: calc(50% - 281px);
	}
		
	#backdrop {
		width: 768px;
	}
}

@media screen and (max-width: 767px){
	.wrapper {
		width: 375px;
	}
	
	header {
		height: 68px;
	}

	.header #burger {
		background-repeat: no-repeat;
		background-image: url("../assets/img/icons/burger.svg");
		background-size: 25px;
		background-position: 50% 100%;
		width: 25px;
		height: 20px;
		position: absolute;
		top: 26px;
		left: 20px;
		display: block;
		z-index: 1000;
		transition: transform 0.5s;
	}

	.header.opened #burger {
	transform: rotate(90deg);
	}

	.header #background {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}

	.header.opened #background {
		background: #2D303A;
		opacity: 0.6;
		display: block;
	}
	
	.header {
		display: block;
		width: 375px;
		border-bottom: #323746 3px solid;
	}
	
	.header .logo {
		margin: 26px 0 0 147px;
		font-size: 19.6875px;
		line-height: 22px;
		letter-spacing: -0.03em;
		color: #ffffff;
	}

	.navbar .logo {
		margin: unset;
		display: block;
		letter-spacing: -0.03em;
		position: absolute;
		top: 26px;
		left: 72px;
	}

	
	.header .navbar {
		transition: left 0.5s;
		position: fixed;
		display: block;
		justify-content: center;
		width: 278px;
		height: 100%;
		left: -278px;
		top: 0;
		margin: unset;
		background-color: #2D303A;
	}

	.header.opened .navbar {
		left: 0;
		box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
	}
	
	.header .navbar ul {
		flex-flow: column nowrap;
		justify-content: space-between;
		height: 258px;
		position: absolute;
		left: 71px;
		top: 232px;
	}

	.header .navbar ul>li>a{
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		letter-spacing: -0.035em;
	}


	.slider {
		height: 221px;
		border-bottom: #ea676b 2px solid;
	}
	
	#phone1 {
		width: 88px;
		height: 176px;
		margin: 0px 0 0 41px;
	}
	
	
	#phone2 {
		width: 178px;
		height: 88px;
		margin: 2px 42px 0 0;
	}
		
	#phone3 {
		width: 171px;
		height: 170px;
	}
		
	#phone1 .screen {
		width: 70px;
		height: 123px;
		margin: 23px 0 0 5px;
	}
	
	#phone2 .screen {
		width: 123px;
		height: 70px;
		margin: 5px 0 0 22px;
	}
	
	#phone3 .screen {
		width: 67px;
		height: 118px;
		margin: 23px 0 0 48px;
	}
		
	.slider>.nav .nav_left {
		width: 20px;
		margin: 12px 0px 0px 9px;
	}
	
	.slider>.nav .nav_right {
		width: 20px;
		margin: 12px 9px 0px 0px;
	}
	
	.services {
		height: 1004px;
		padding: 29px 32px 0 32px;
		border-bottom: none;
	}
	
	.services>.text {
		width: 310px;
		font-size: 18px;
		line-height: 30px;
		color: #767e9e;
		font-weight: 300;
		margin-top: 21px;
	}
	
	.services>.pane {
		margin-top: 28px;
		width: 314px;
		flex-flow: column;
		justify-content: space-between;
	}
	
	.services .item {
		height: 119px;
	}
	
	.services .item>.wrap {
		margin: unset;
	}
	
	.services .item .title{
		line-height: unset;
	}
	
	.services .item .description{
		line-height: 22px;
		margin-top: 10px;
	}
		
	.portfolio {
		padding: 45px 30px 1px 30px;
		height: 798px;
		border-bottom: unset;
	}
		
	.portfolio .description {
		width: 315px;
		margin-top: 21px;
	}
	
	.portfolio .gallery .nav {
		margin-top: 17px;
	}
		
	.portfolio .gallery .nav a:hover {
		border: 1px solid #dedede;
		color: #dedede;
	}
		
	.portfolio .gallery .pictures{
		margin-top: 24px;
		justify-content: space-between;
	}
	
	.portfolio .gallery .pictures>.pic{
		width: 151px;
		height: 128px;
		margin-bottom: 19px;
		margin: 0 0 14px 0!important;
	}

	.portfolio .gallery .pictures>.pic.active{
		width: 141px;
		height: 118px;
	}
	
	.portfolio .gallery .pictures>.pic:nth-child(n+9){
		display: none;
	}
	
	.aboutus {
		padding: 36px 30px 0 30px;
		height: 1718px;
		border-bottom: unset;

	}
		
	.aboutus .people {
		margin-top: 24px;
	}
	
	.aboutus .people .card {
		width: 314px;
		height: 440px;
		margin-bottom: 34px;
	}
	
	.aboutus .people .card>img {
		width: 314px;
		height: 314px;
		margin-left: 1px;
	}
	
	.aboutus .people .card>span {
		margin-top: 19px;
	}
	
	.social {
		margin-top: 14px;
	}
		
	.feedback {
		padding: 47px 30px 45px 27px;
		height: 877px;
		border-bottom: unset;
	}
	
	.feedback>.contacts {
		flex-flow: column;
		margin-top: 24px;
		height: 605px;
	}
	
	.feedback>.contacts>form {
		width: 318px;
		height: 373px;
	}
	
	.feedback>.contacts>form input {
		padding: 0px 0 0 7px;
		margin-left: 3px;
	}
	  
	.feedback>.contacts>form textarea {
		margin-left: 3px;
		padding: 8px 0 0 7px;
		height: 151px;
	}
	
	.feedback>.contacts>form button {
		height: 50px;
		margin-top: 2px;
		width: 315px;
		margin-left: 3px;
	}
	
	.feedback>.contacts>.info {
		margin-top: 32px;
		padding-left: 3px;
		width: 315px;
	}
		
	.feedback>.contacts>.info li {
		margin-bottom: 10px;
	}
	
	.feedback>.contacts>.info li>a {
		margin-left: 23px;
	}
	
	.feedback>.contacts>.info li>.icon {
		position: absolute;
	}
	
	.feedback>.contacts>.info li>.icon_loc {
		background-position: 45% 100%;
		margin-top: 4px;
		height: 12px;
	}

	.feedback>.contacts>.info li>.icon_tel {
		background-position: 45% 100%;
		margin-top: 2px;
		height: 15px;
	}
	
	.feedback>.contacts>.info li>.icon_mail {
		background-position: 45% 100%;
		margin-top: 0px;
		height: 15px;
	}
	
	footer {
		justify-content: center;
	}
	
	footer span{
		display: none;
	}
		
	#submitModal{
		width: 250px;
		left: calc(40% - 125px);
	}
}