@media (max-width: 375px) {
	.wrapper {
		width: 375px;
	}
	
	header {
		height: 68px;
	}
	.header {

	}

	.header.opened {
		
	}

	.header #burger {
		background-repeat: no-repeat;
		background-image: url("../assets/img/icons/burger.svg");
		background-size: 25px;
		background-position: 50% 100%;
		width: 25px;
		height: 20px;
		position: absolute;
		top: 26px;
		left: 20px;
		display: block;
		z-index: 1000;
		transition: transform 0.5s;
	}

	.header.opened #burger {
	transform: rotate(90deg);
	}

	.header #background {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}

	.header.opened #background {
background: #2D303A;
opacity: 0.6;
display: block;
}
	
	.header {
		display: block;
		width: 375px;
		border-bottom: #323746 3px solid;
	}
	
	.header .logo {
		margin: 26px 0 0 147px;
		font-size: 19.6875px;
		line-height: 22px;
		letter-spacing: -0.03em;
		color: #ffffff;
	}

	.navbar .logo {
		margin: unset;
		display: block;
		letter-spacing: -0.03em;
		position: absolute;
		top: 26px;
		left: 72px;
	}

	.header.opened .logo {

	}
	
	
	.header .navbar {
		transition: left 0.5s;
		position: fixed;
		display: block;
		justify-content: center;
		width: 278px;
		height: 100%;
		left: -278px;
		top: 0;
		margin: unset;
		background-color: #2D303A;
	}

	.header.opened .navbar {
left: 0;
box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
}
	
	.header .navbar ul {
		flex-flow: column nowrap;
		justify-content: space-between;
		height: 258px;
		position: absolute;
		left: 71px;
		top: 232px;
	}

	
	
	
	.header .navbar ul>li>a{
font-weight: bold;
font-size: 24px;
line-height: 29px;
letter-spacing: -0.035em;
}
	
	.header .navbar ul>li>a:hover{

	}
	
	.header .navbar ul>li>a.active {

	}
	
	.slider {

height: 221px;

border-bottom: #ea676b 2px solid;

}
	
	.slider>.slides {

	}
	
	.slider>.slides>.slide {

	}
	
	.slide>.phones {

	}
	
	#phone1 {
	width: 88px;
	height: 176px;
	margin: 0px 0 0 41px;
	}
	
	
	#phone2 {
		width: 178px;
		height: 88px;
		margin: 2px 42px 0 0;
	}
	
	.slide>.phones_2 {

	}
	
	#phone3 {
		width: 171px;
		height: 170px;
	}
	
	.screen {

	}
	
	#phone1 .screen {
		width: 70px;
		height: 123px;
		margin: 23px 0 0 5px;
	}
	
	#phone2 .screen {
		width: 123px;
		height: 70px;
		margin: 5px 0 0 22px;
	}
	
	#phone3 .screen {
		width: 67px;
		height: 118px;
		margin: 23px 0 0 48px;
	}
	
	.slider>.nav {

	}
	
	.slider>.nav .nav_left {
		width: 20px;
		margin: 12px 0px 0px 9px;
	}
	
	.slider>.nav .nav_right {

width: 20px;

margin: 12px 9px 0px 0px;

}
	
	.services {
		height: 1004px;
		padding: 29px 32px 0 32px;
		border-bottom: none;
	}
	
	.services>.title {

	}
	
	.services>.text {
		width: 310px;
		font-size: 18px;
		line-height: 30px;
		color: #767e9e;
		font-weight: 300;
		margin-top: 21px;
	}
	
	.services>.pane {

margin-top: 28px;

width: 314px;

flex-flow: column;

justify-content: space-between;
}
	
	.services .item {

height: 119px;

/* margin-bottom: 30px; */

}
	
	.services .item>.wrap {

margin: unset;

}
	
	.services .item .title{

line-height: unset;

}
	
	.services .item .description{

line-height: 22px;

margin-top: 10px;

}
	
	.services .icon {

	}
	
	
	.portfolio {

padding: 45px 30px 1px 30px;

height: 798px;

border-bottom: unset;
}
	
	.portfolio .title {

	}
	
	.portfolio .description {

width: 315px;

margin-top: 21px;

}
	
	.portfolio .gallery .nav {

margin-top: 17px;

}
	
	.portfolio .gallery .nav a {

	}
	
	.portfolio .gallery .nav a:hover {
		border: 1px solid #dedede;
		color: #dedede;
	}
	
	.portfolio .gallery .nav a.active {

	}
	
	.portfolio .gallery .pictures{

margin-top: 24px;

justify-content: space-between;

}
	
	.portfolio .gallery .pictures>.pic{

width: 151px;

height: 128px;

margin-bottom: 19px;

margin: 0 0 14px 0!important;

}
	
	.portfolio .gallery .pictures>.pic.active{

	}
	
	.portfolio .gallery .pictures>.pic img {

	}

	.portfolio .gallery .pictures>.pic:nth-child(n+9){
		display: none;
	}

	.portfolio .gallery .pictures>.pic:nth-child(4n+1){

	}
	
	.portfolio .gallery .pictures>.pic:nth-child(4n+1){

	}
	
	.portfolio .gallery .pictures>.pic:nth-child(4n+4){

	}
	
	.portfolio .gallery .pictures>.pic:nth-child(n+13){

	}
	
	.aboutus {

padding: 36px 30px 0 30px;

height: 1718px;

border-bottom: unset;

}
	
	.aboutus .title {

	}
	
	.aboutus .description {

	}
	
	.aboutus .people {

margin-top: 24px;

}
	
	.aboutus .people .card {

width: 314px;

height: 440px;

margin-bottom: 34px;

}
	
	.aboutus .people .card>img {

width: 314px;

height: 314px;

margin-left: 1px;

}
	
	.aboutus .people .card>span {

margin-top: 19px;

}
	
	.aboutus .people .card>p {

	}
	
	.social {

margin-top: 14px;

}
	
	.social>.icon {

	}
	
	.social>.icon.icon_facebook {

	}
	
	.social>.icon.icon_google {

	}
	
	.social>.icon.icon_twitter {

	}
	
	.social>.icon.icon_linkedin {

	}
	
	
	.feedback {

padding: 47px 30px 45px 27px;

height: 877px;

border-bottom: unset;

}

div#feedback {}
	
	.feedback>h3 {

	}
	
	.feedback>p {

	}
	
	.feedback>.contacts {

flex-flow: column;

margin-top: 24px;

height: 605px;

}
	
	.feedback>.contacts>form {

width: 318px;

height: 373px;

}
	
	.feedback>.contacts>form input {

padding: 0px 0 0 7px;

margin-left: 3px;

}
	

	  
	.feedback>.contacts>form textarea {

margin-left: 3px;

padding: 8px 0 0 7px;

height: 151px;

}
	
	.feedback>.contacts>form button {

height: 50px;

margin-top: 2px;

width: 315px;

margin-left: 3px;

}
	
	.feedback>.contacts>.info {

margin-top: 32px;

padding-left: 3px;

width: 315px;

}
	
	.feedback>.contacts>.info>span {

	}
	
	.feedback>.contacts>.info>p {

	}
	
	.feedback>.contacts>.info li {
		margin-bottom: 10px;
	}
	
	.feedback>.contacts>.info li>a {

margin-left: 23px;

}
	
	.feedback>.contacts>.info li>.icon {

position: absolute;

}
	
	.feedback>.contacts>.info li>.icon_loc {

background-position: 45% 100%;

margin-top: 4px;

height: 12px;

}

.icon.icon_loc {}
	
	.feedback>.contacts>.info li>.icon_tel {

background-position: 45% 100%;

margin-top: 2px;

height: 15px;

}
	
	.feedback>.contacts>.info li>.icon_mail {

background-position: 45% 100%;

margin-top: 0px;

height: 15px;

}
	
	footer {

justify-content: center;

}
	
	footer span{

display: none;

}
	
	footer .social{

	}
	
	#submitModal{

width: 250px;

left: calc(40% - 125px);

}
	
	#submitModal.active {

	}
	
	#submitModal p {

	}
	
	#submitModal>#message {
	
	}
	
	#submitModal>.close {
	
	}
	
	#backdrop {

	}
}