@media (max-width: 768px) {
	.wrapper {
		width: 768px;
	}

	.header {
		width: 768px;
	}
		
	.slider {

		height: 451px;
	}
	
	#phone1 {
		width: 180px;
		height: 364px;
		margin: 4px 0 0 84px;
	}
	
	
	#phone2 {
		width: 364px;
		height: 180px;
		margin: 6px 85px 0 0;
	}
	
	#phone3 {
		width: 355px;
		height: 350px;
	}
		
	#phone1 .screen {
		width: 143px;
		height: 251px;
		margin: 49px 0 0 10px;
	}
	
	#phone2 .screen {
		width: 251px;
		height: 143px;
		margin: 10px 0 0 45px;
	}
	
	#phone3 .screen {
		width: 138px;
		height: 244px;
		margin: 47px 0 0 100px;
	}
	
	.slider>.nav .nav_left {
		width: 20px;
		margin: 12px 0px 0px 30px;
	}
	
	.slider>.nav .nav_right {

		width: 20px;
		margin: 12px 27px 0px 0px;
	}
	
	.services {
		height: 625px;
		padding: 44px 40px 0 40px;
	}
		
	.services>.text {
		width: 674px;
		font-size: 18px;
		line-height: 30px;
		color: #767e9e;
		font-weight: 300;
		margin-top: 21px;
	}
	
	.services>.pane {
		margin-top: 33px;
		width: 654px;
	}
	
	.services .item {
		height: 144px;
	}
	
	
	.portfolio {
		height: 1032px;
	}
		
	.portfolio .description {
		line-height: 30px;
		margin-top: 19px;
		width: 654px;
	}
	
	.portfolio .gallery .nav {
	margin-top: 14px;
	}
	
	.portfolio .gallery .nav a:hover {
		border: 1px solid #dedede;
		color: #dedede;
	}
		
	.portfolio .gallery .pictures{
		margin-top: 27px;
	}
	
	.portfolio .gallery .pictures>.pic{
		width: 216px;
		height: 184px;
		margin-bottom: 19px;
	}
	
	.portfolio .gallery .pictures>.pic.active{
		width: 206px;
		height: 174px;
	}
		
	.portfolio .gallery .pictures>.pic:nth-child(4n+1){
		margin-left: 10px;
	}

	.portfolio .gallery .pictures>.pic:nth-child(3n+1){
		margin-left: 0px;
	}
	
	.portfolio .gallery .pictures>.pic:nth-child(4n+4){
		margin-right: 10px;
	}

	.portfolio .gallery .pictures>.pic:nth-child(3n+3){
		margin-right: 0px;
	}
		
	.aboutus {
		padding: 55px 40px 0 42px;
		height: 608px;
	}
	
	.aboutus .people {
		margin-top: 38px;
	}
	
	.aboutus .people .card {
		width: 219px;
		height: 360px;
	}
	
	.aboutus .people .card>img {
		width: 219px;
		height: 219px;
	}
	
	.aboutus .people .card>span {
		margin-top: 13px;
	}
	
	.aboutus .people .card>p {
		margin-top: 3px;
	}
	
	.social {
		margin-top: 35px;
	}

	
	.feedback {
		padding: 56px 37px 45px 39px;

	}
	
	.feedback>h3 {
		margin-left: 3px;
	}
	
	.feedback>p {
		margin-left: 3px;
	}
	
	.feedback>.contacts {
		margin-top: 26px;
		height: 394px;
	}
	
	.feedback>.contacts>form {
		width: 578px;
		height: 364px;
	}
		
	.feedback>.contacts>form button {
		margin-top: 5px;
	}
	
	.feedback>.contacts>.info {
		width: 288px;
		padding-left: 30px;
	}
		
	.feedback>.contacts>.info>p {
		margin-top: 3px;
		margin-bottom: 11px;
	}
	
	.feedback>.contacts>.info li {
		margin-bottom: 4px;
	}
		
	#submitModal{
		width: 500px;
		left: calc(384px - 281px);
	}
		
	#backdrop {
		width: 768px;
	}
}