body {
	font-family: "Lato";
	font-weight: 300;
}

.header {
	width: 100%;
	height: 90px;
	background-color: #2d303a;
	border-bottom: #323746 6px solid;
	display: flex;
	justify-content: space-between;
}

.header .logo {
	font-size: 25px;
	color: #ffffff;
	font-weight: 700;
	margin: 40px 0 0 34px;
}

.logo span:nth-child(2) {
	color: #f06c64;
}

.header .navbar {
	margin: 45px 40px 0 0;
	width: 371px;
}

.header .navbar ul {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.header .navbar ul>li>a{
	text-decoration: none;
	color: #ffffff;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
}

.header .navbar ul>li>a:hover{
	color: #f06c64;
}

.slider {
	background-color: #f06c64;
	height: 600px;
}